
<div class="col-md-4 col-sm-6 blog-item">
	<div class='journal'>
		<a href="{{ fields.view_node.content }}">
			<img src="{{ fields.field_blog_image.content }}" alt="Image" class="journal-img">
		</a>
	</div>
	<article class="fh5co-post-entry">
		<span class="fh5co-blog-date">{{ fields.created.content }}</span>
		<a href="{{ fields.view_node.content }}">
			<h3 class="fh5co-blog-title fh5co-heading-with-border">
				<a href="{{ fields.view_node.content }}">{{ fields.title.content }}</a>
				<span class="fh5co-border fh5co-border-gray"></span>
			</h3>
		</a>
		{{ fields.body.content }}
		<p><a href="{{ fields.view_node.content }}" class="fh5co-link"><i class="fa fa-angle-right"></i> Read More</a></p>
	</article>
</div>
